    @media screen and (max-width: 1200px) {
        .audit__body {
            margin-left: 1em;
        }

        .construction__body{
            margin-left: 1em;
        }
    }
    
    @media screen and (max-width: 992px) {
        .cards__about {
            width: 100%;
            height: 180px;
            margin-left: 1em;
        }
        
        .footer__company {
            width: 26%;
            margin-right: 4em;
        }

        .footer__body_title--links {
            margin-left: 3em;
        }

        .footer__links--list {
            margin: 0em 0.1em 0em 2em;
        }

        .contact-us__information {
            width: 61%;
        }
    }
    
    @media screen and (max-width: 768px) {
    .container {
        width: 77.7%;
    }

    .cards__about {
        width: 100%;
        height: 160px;
        margin-left: 0.5em;
    }
    
    .capabilities__text {
        padding: 0em;
    }

    .section__title {
        line-height: 12px;
    }

    .cards__management-card {
        margin: 1em 0em 1em 1em;
    }

    .cards__management-card--image {
        background-size: auto 70%;
    }

    .cards__audit-card {
        margin: 1em 0em 1em 1em;
    }
    
    .cards__audit-card--image {
        background-size: auto 70%;
    }
    
    .cards__construction-card {
        margin: 1em 0em 1em 1em;
    }
    
    .cards__construction-card--image {
        background-size: auto 70%;
    }

    .footer__company {
        width: 26%;
        margin-right: 4em;
    }

    .footer__body_title--links {
        margin-left: 1.5em;
    }

    .footer__links--list {
        margin: 0em 0.1em 0em 1em;
    }

    .contact-us__information {
        width: 61%;
    }

     /* Burger menu */
        
     .navigation {
        position: relative;
        z-index: 2;
    }
    
    .nav__bar {
        position: relative;
        display: block;
        width: 30px;
        height: 20px;
    }

    .nav__bar::before,
    .nav__bar::after {
        content:'';
        background-color: #000000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        z-index: 3;
    }

    .nav__bar::before {
        top: 0;
    }

    .nav__bar::after {
        bottom: 0;
    }

    .nav__bar span {
        position: absolute;
        left: 0;
        top: 9px;
        width: 100%;
        height: 2px;
        background-color: #000000;
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
    }

    .nav__bar > li {
        overflow: hidden;
    }
}
    
    @media screen and (max-width: 568px) {
        .container {
            width: 77.7%;
        }

        .section__about-content {
            display: flex;
            flex-direction: column;
        }
            
        .about__story {
            margin-left: 0.5em;
        }

        .cards {
            display: flex;
            flex-direction: column;
        }

        .management__body {
            width: 100%;
            height: 100%;
        }

        .audit__body {
            width: 100%;
            height: 100%;
            margin: 1em 0em 0em 0em;
        }

        .construction__body {
            width: 100%;
            height: 100%;
            margin: 1em 0em 0em 0em;
        }

        .want-to-build__title {
            line-height: 20px;
        }

        .want-to-build__button {
            margin: 1.5em 0em 10em 0em;
        }

        .newsletter {
            padding: 1em;
        }

        .newsletter__title {
            text-align: center;
            line-height: 15px;
        }

        .newsletter__email {
            width: 150px;
        }

        .footer__body_title--links {
            margin-left: 2em;
        }

         /* Burger menu */
        
         .navigation {
            position: relative;
            z-index: 2;
        }
        
        .nav__bar {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
        }

        .nav__bar::before,
        .nav__bar::after {
            content:'';
            background-color: #000000;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            z-index: 3;
        }

        .nav__bar::before {
            top: 0;
        }

        .nav__bar::after {
            bottom: 0;
        }

        .nav__bar span {
            position: absolute;
            background-color: #000000;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
        }

        .nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 0%;
        }

        .nav__bar > li {
            overflow: hidden;
        }

    }

    @media screen and (max-width: 478px) {
        
        .container {
            width: 80%;
        }

        .section__about-content {
            padding: 2em 0em 2em 0em;
        }

        .about__text {
            padding-bottom: 1em;
            font-size: 10px;
            line-height: 15px;
        }

        .capabilities__text {
            margin-left: 1em;
            line-height: 10px;
        }

        .cards {
            padding-bottom: 2em;
        }

        .want-to-build__title {
            width: 50%;
        }

        .newsletter__title {
            width: 15%;
            margin: 0;
            
        }

        .newsletter__email {
            width: 135px;
            height: 30px;
            padding-left: 0.5em;
        }

        .newsletter__button {
            height: 30px;
            font-size: 8px;
            padding: 0px 2px 0px 2px;
        }

        .footer__body_title--links {
            margin-left: 1em;
        }
    
        .footer__links--list {
            margin: 0em 0.1em 0em 0.5em;
        }

        .contact-us__information {
            width: 70%;
        }

        .footer__body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .footer__company {
            width: 100%;
            margin: 0;
        }

        .footer__links {
            width: 100%;
            margin: 0;
        }

        .footer__links--body {
            display: flex;
            justify-content: center;
        }

        .contact-us__information {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-left: 11em;
        }


        .contact-us {
            width: 100%;
            height: 100px;
            margin-left: 0em;
        }
        
        .navigation {
            position: relative;
            z-index: 2;
        }
        
        .nav__bar {
            position: relative;
            display: block;
            width: 30px;
            height: 20px;
        }

        .nav__bar::before,
        .nav__bar::after {
            content:'';
            position: absolute;
            left: 0;
            z-index: 3;
            width: 100%;
            height: 2px;
            background-color: #000000;
        }

        .nav__bar::before {
            top: 0;
        }

        .nav__bar::after {
            bottom: 0;
        }

        .nav__bar span {
            position: absolute;
            left: 0;
            top: 9px;
            width: 100%;
            height: 2px;
            background-color: #000000;
        }

        .nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
        }

        .nav__bar > li {
            overflow: hidden;
        }
    }


